
# Postgres
PG_HOST=localhost
PG_PORT=5432
PG_USER=airflow
PG_PASSWORD=airflow
DB_NAME=airflow
PG_DATA_DIR=./dbs/pg_data

AIRFLOW_UID=501
AIRFLOW_IMAGE_NAME=taxfix-airflow:local
AIRFLOW_PROJ_DIR=./modules/airflow
TAXFIX_DB_PATH=/opt/airflow/repo/dbs/duckdb_data/taxfix.duckdb
TAXFIX_DATA_DIR=/opt/airflow/repo/data/users
TAXFIX_LOOKBACK_HOURS=24
TAXFIX_FULL_REFRESH=
